TELEGRAM_BOT_TOKEN=your_telegram_bot_token
POSTGRES_DB=onsinch_bot
POSTGRES_USER=botuser
POSTGRES_PASSWORD=change_me_to_something_secure
POSTGRES_HOST=db
POSTGRES_PORT=5432
SCRAPE_INTERVAL_MINUTES=15
ONSINCH_BASE_URL=https://splendid.onsinch.com
